<%= form_with(model: person) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :project_id, class: 'form-label' %>
      <%= form.text_field :project_id, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :email, class: 'form-label' %>
      <%= form.text_field :email, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :score, class: 'form-label' %>
      <%= form.number_field :score, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <% if person.persisted? %>
      <div class="float-end">
        <%= link_to 'Destroy', person, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if person.persisted? %>
      <%= link_to "Cancel", person, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", people_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
