<div id="<%= dom_id person %>">
  <p>
    <strong>Project:</strong>
    <%= person.project_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= person.email %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= person.score %>
  </p>

</div>
